<div class="row" style="white-space: nowrap;">
    <div class="col">
        <p class="author_name text-uppercase">
            Solomon Oni
        </p>
    </div>
    <div class="col">
        <p class="publish_time text-uppercase">
            1 hour ago
        </p>
    </div>
</div>