<%- include("partials/header.ejs") %>
    <section class="post_form">

        <style>
            @scope (.post_form) {
                label {
                    color: var(--white);
                }
            }

            .post_form {
                margin: 3rem 0;
            }
        </style>
        <div class="container">
            <form action="/submit" method="POST">
                <div class="mb-3">
                    <label for="title" class="form-label" required>Email address</label>
                    <input type="text" class="form-control" id="title" placeholder="Blog title" name="title">
                </div>
                <select class="form-select mb-3" aria-label="Default select example" name="contentType" required>
                    <option selected>Select blog type</option>
                    <option value="1">Apps</option>
                    <option value="2">Gadgets</option>
                    <option value="3">Science</option>
                </select>
                <div class="mb-3">
                    <label for="content" class="form-label" required>Your content here</label>
                    <textarea class="form-control" id="content" rows="8" name="content"
                        placeholder="Type content here"></textarea>
                </div>
                <div class="mb-3">
                    <label for="img-link" class="form-label">Link to your image</label>
                    <input type="text" class="form-control" id="img-link" placeholder="Provide only image link"
                        name="imgLink">
                </div>

                <div class="mb-3">
                    <label for="img-caption" class="form-label">Image caption</label>
                    <textarea class="form-control" id="img-caption" rows="8" name="imgCaption"
                        placeholder="Type image caption here"></textarea>
                </div>


                <button type="submit" class="btn btn-secondary btn-lg btn-block my-4">Publish</button>
            </form>
        </div>
    </section>


    <%- include("partials/footer.ejs") %>